{% extends 'toko/layouts/main.html' %}


{% block content  %}

    

    <div class="py-3">
        <div class="container">
            <a class="text-black" href="{% url 'home' %}"> Home / </a>
            <a class="text-black" href="{% url 'myorders' %}"> My orders</a>
        </div>
    </div>

    <div class="container my-3">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="card shadow">
                        <div class="card-header">
                            <h3 class='mb-0'>My Orders</h3>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Order Date</th>   
                                        <th>Resi Pengiriman</th>   
                                        <th>Total Harga</th>   
                                        <th>Status</th>   
                                        <th>Action</th>   
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in orders %}
                                   
                                    <tr>
                                        <td> {{ item.created_at }} </td>   
                                        <td> {{ item.tracking_no }} </td>   
                                        <td> Rp. {{ item.total_price | stringformat:'d' }} </td>   
                                       
                                        {% if item.status == "Pending"  %} 
                                        <td class="badge bg-primary" style="margin-left: 25%; margin-top: 7.5%;" > {{ item.status }}</td>
                                        {% elif item.status == "Cancelled"  %}
                                        <td class="badge bg-danger" style="margin-left: 25%; margin-top: 7.5%;"> {{ item.status }} </td>
                                        {% elif item.status == "Delivered"  %}
                                        <td class="badge bg-success" style="margin-left: 25%; margin-top: 7.5%;"> {{ item.status }} </td>
                                        {% elif item.status == "Processing"  %}
                                        <td class="badge text-black bg-warning" style="margin-left: 25%; margin-top: 7.5%;"> {{ item.status }} </td>
                                        {% endif %}  
                                        <td>
                                            <a href={% url 'orderview' item.tracking_no %}>
                                                <button style="margin-left: 25%;" value="View Detail" class="btn btn-primary">
                                                    Detail
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </a>
                                        </td>   
                                    </tr>
                                    
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    

{% endblock content %}