{% block content  %}

<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Information
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="">
                        <h3 class="my-4">Admin Panel</h3>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Statistics
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="staff.html">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>User <i class="fa fa-users"></i></h4>
                                    <h3>{{global_usercounter}}</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="product.html">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Products <i class="fa fa-archive"></i></h4>
                                    <h3>{{global_prodcounter}}</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="order.html">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Orders <i class="fa fa-shopping-cart"></i></h4>
                                    <h3>{{global_ordercounter}}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}