{% extends 'toko/layouts/main.html' %}


{% block content  %}

<div class="py-3">
    <div class="container">
        <a class="text-black" href="{% url 'home' %}"> Home / </a>
        <a class="text-black" href="{% url 'collections' %}"> Collections / </a>
        <a class="text-black" href="{% url 'collectionsView' category.slug %}"> {{category.name}}  </a>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> {{category.name}} </h1>
            <hr>
            <div class="row">
            {% for item in products %}
                <div class="col-md-3 my-2" >
                    
                    <div class="card shadow">
                        <a href="{% url 'productView' item.category.slug item.slug %}">
                        <div class="card-body" style="margin-bottom: 25px;">
                            <div class="category-image" >
                                {% if item.tag %}
                                    <label class="product-viewtag">{{ item.tag }}</label>
                                {% endif %}
                                {% if item.quantity <= 10 and item.quantity > 0 %}
                                    <label class="product-viewstock">Stok Terbatas</label>
                                {% elif item.quantity == 0 %}
                                    <label class="product-viewstock">Stok Habis</label>
                                {% endif %}
                                <img  src="{{ item.product_image.url }}" style="" height="240" alt="Product Image" class="bw w-100"  >
                            </div>
                            <hr>
                            <h4 class="text-center">{{ item.name }}</h4>
                            {% if item.original_price == 0 %}
                            <span class="float-start">Rp. {{ item.selling_price | stringformat:'d' }}</span>
                            {% else %}
                            
                            <span class="float-start">Rp. <s>{{ item.original_price | stringformat:'d' }}</s></span>
                            
                            <span class="float-end">Rp. {{ item.selling_price | stringformat:'d' }}</span>
                            {% endif %}
                        </div>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content  %}