{% extends 'toko/layouts/main.html' %}


{% block content  %}

<div class="py-3">
    <div class="container">
        <a class="text-black" href="{% url 'home' %}"> Home / </a>
        <a class="text-black" href="{% url 'collections' %}"> Collections / </a>
        <a class="text-black" href="{% url 'collectionsView' category.slug %}"> {{category.name}}  </a>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> {{category.name}} </h1>
            <hr>
            <div class="row">
            {% for item in products %}
                <div class="col-md-3 my-2" >
                    
                    <div class="card shadow">
                        <a href="{% url 'productView' item.category.slug item.slug %}">
                        <div class="card-body">
                            <div class="category-image" >
                                <img  src="{{ item.product_image.url }}" style="" height="240" alt="Product Image" class="bw w-100"  >
                            </div>
                            <hr>
                            <h4 class="text-center">{{ item.name }}</h4>
                            <span class="float-start">Rp. <s>{{ item.original_price | stringformat:'d' }}</s></span>
                            <span class="float-end">Rp. {{ item.selling_price | stringformat:'d' }}</span>
                        </div>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div

    {{ category }}
{% endblock content  %}