{% extends 'toko/layouts/main.html' %}


{% block content  %}

<div class="py-3">
    <div class="container">
        <a class="text-black" href="{% url 'home' %}"> Home / </a>
        <a class="text-black" href="{% url 'collections' %}"> Collections / </a>
        <a class="text-black" href="{% url 'collectionsView' products.category.slug %}"> {{products.category.name}} / </a>
        <a class="text-black" href="{% url 'productView' products.category.slug products.slug %}"> {{products.name}}  </a>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow product_data">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-4">
                                {% if products.tag %}
                                    <label class="product-viewtag">{{ products.tag }}</label>
                                {% endif %}
                                {% if products.quantity <= 10 and products.quantity > 0 %}
                                    <label class="product-viewstock">Stok Terbatas</label>
                                {% elif products.quantity == 0 %}
                                    <label class="product-viewstock">Stok Habis</label>
                                {% endif %}
                                    <img src= "{{ products.product_image.url}}" class="w-100" style="width: auto; height: 400px;"  alt="image">
                                    
                            </div>
                            <div class="col-md-8">
                                
                                <h2 class="mb-0">
                                    {{products.name}}
                                    {% if products.trending %}
                                        <label style="font-size: 16px;" class="float-end badge bg-danger tranding_tag">Trending</label>
                                    {% endif %}
                                </h2>
                                <hr>
                                {% if products.original_price == 0 %}
                                <label class="fw-bold text-success">Harga :  Rp. {{ products.selling_price | stringformat:'d'}}</label>
                                {% else %}
                                <label class="me-3 fw-bold text-danger">Harga :  Rp. <s> {{ products.original_price | stringformat:'d'}}</s></label>
                                <label class="fw-bold text-success">Harga : Rp. {{ products.selling_price | stringformat:'d'}}</label>
                                {% endif %}
                                <p class="mt3">
                                    {{products.small_description}}
                                </p>
                                <hr>
                                {% if products.quantity > 10 %}
                                    <label class="badge bg-success">Stok Tersedia : {{products.quantity}}</label>
                                {% elif products.quantity <= 10 and products.quantity > 0 %}
                                    <label class="badge text-black bg-warning">Stok Tersisa : {{products.quantity}}</label>
                                {% elif products.quantity == 0 %}
                                    <label class="badge bg-danger">Stok Habis {{products.quantity}}</label>
                                {% endif %}
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        {% csrf_token %}
                                        <input type="hidden" class="prod_id" value="{{products.id}}">
                                        <label for="Quantity">Quantity :</label>
                                        <div class="input-group text-center mb-3" style="width:130px;">
                                            <button class="input-group-text decrement-btn">-</button>
                                            <input type="text" class="form-control qty-input text-center" name="quantity" value="1">
                                            <button class="input-group-text increment-btn">+</button>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <br/>
                                        {% if products.quantity > 0 %}
                                            <button type="button" class="btn btn-primary me-3 float-end addToCartBtn"><i class="fa fa-shopping-cart"></i> Tambahkan Keranjang</button>
                                        {% endif %}
                                        <button type="button" class="btn btn-success me-3 addToWishlistBtn float-end"><i class="fa fa-heart"></i> Tambahkan Wishlist</button>
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr>
                            <h3 class="fw-bold">Deskripsi Produk</h3>
                            <p>
                                {{products.description}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {{ category }}
{% endblock content  %} 